<div class="container mb-5 col-md-6">
  <h2 class="mt-5 mb-5 text-center">Entre em contato conosco</h2>
  <form class="form">
    <div class="form-group mb-2">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="Digite o seu nome">
    </div>
    <div class="form-group mb-2">
      <label for="email">Endereço de email</label>
      <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
    </div>
    <div class="form-group mb-2">
      <label for="mensagem">Mensagem</label>
      <textarea class="form-control" id="mensagem" rows="4"></textarea>
    </div>
    <button class="btn btn-outline-dark mb-2">
      Enviar
    </button>
  </form>
</div>
